name: Build docker image

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.AzureAppService_ContainerUsername_e3eba46693eb44d88097db75234e610c }}
        password: ${{ secrets.AzureAppService_ContainerPassword_448ab7fb6bd24abf86bdcb2c3ac3e1aa }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ghcr.io/jjyao88/foxlink-api-backend/backend:latest
        file: ./Dockerfile
