# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - foxlink-api-backend

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://docker.pkg.github.com
        username: ${{ secrets.AzureAppService_ContainerUsername_e3eba46693eb44d88097db75234e610c }}
        password: ${{ secrets.AzureAppService_ContainerPassword_448ab7fb6bd24abf86bdcb2c3ac3e1aa }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ${{ secrets.AzureAppService_ContainerUsername_e3eba46693eb44d88097db75234e610c }}/seabao/foxlink-api-backend/backend:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'foxlink-api-backend'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_8bc6736a25c9417fac9b9543fbd44894 }}
        images: 'docker.pkg.github.com/${{ secrets.AzureAppService_ContainerUsername_e3eba46693eb44d88097db75234e610c }}/seabao/foxlink-api-backend/backend:${{ github.sha }}'
